/*---- Reset ----*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	text-align: center;
}

/* ---  index  --- */

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: auto;
    background-color: black;
    background-image: url(/multimedia/sony-life.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin: 20px 0;
    width: 100%;    
}

.nav{
    width: 100%;
    height: 100%;
    margin: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
}

.nav{
    margin-right: 20px;
}

#botonCarrito{
    border: none;
    background-color: #fff;
}

.icon-carrito{
    width: 30px;
    
}

#contadorCarrito{
    position: absolute;
    width: 15px;
    height: 18px;
    color: white;
    background: black;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

.modal-header{
    display: flex;
    flex-direction: column;
}

.indexMain{
    width: 100%;
    background-image: url(../multimedia/templo-Kamisamas.png);
    background-position: center;
    background-size: cover;
}


.div-form{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url(../multimedia/univers-fondo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.h2-form{
    color: #fff;
    margin: 30px;
}

.titulo-productos{
    color: rgb(252, 232, 55);
    margin-top: 30px;
    padding-left: 5%;
}

#articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.card-container{	
	
    margin: 40px;
    padding: 10px;
    text-align: center;
	width: 260px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 5px;

}

.card-img-top{
    width: 230px;
    border-radius: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    
}

.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.div-personajes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h3-personajes{
    margin: 20px;
}

.p-personajes{
    margin: 20px;
    width: 90vh;
}

.buscador{
    margin: 30px 20px;
}

#botonName{
    margin: 0 20px;
}

.card-personajes{
    width: 250px;
    height: 450px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    border:1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.897);
}

.img-div{
    width: 230px;
    height: 250px;
}

.img-card{
    width: 230px;
    height: 250px;
    object-fit: contain;
}

.footer{
    width: 100%;
    height: auto;
    background-color: black;
    background-image: url(/multimedia/gamer-4k.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    position: static;
}

.ul-footer li{
    color: #fff;
}
