/*---- Reset ----*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	text-align: center;
}

/* ---  index  --- */

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;    
}

.nav{
    width: 100%;
    height: 100%;
    margin: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
}

.nav{
    margin-right: 20px;
}

#botonCarrito{
    border: none;
    background-color: #fff;
}

.icon-carrito{
    width: 30px;
    
}

#contadorCarrito{
    position: absolute;
    width: 15px;
    height: 18px;
    color: white;
    background: black;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

.modal-header{
    display: flex;
    flex-direction: column;
}

.div-form{
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.h2-form{
    color: #fff;
    margin: 30px;
}

.titulo-productos{
    padding-left: 5%;
}

#articulos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.card-container{	
	
    margin: 40px;
    padding: 10px;
    text-align: center;
	width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 5px;

}

.card-img-top{
    width: 300px;
    border-radius: 10px;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    
}

.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    position: static;
}
