/*---- Reset ----*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-fluid{
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style-type: none;
	text-align: center;
}

/* ---  index  --- */

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header{
    width: 100%;
    height: auto;
    background-color: black;
    background-image: url(/multimedia/sony-life.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

#titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    font-family: 'Racing Sans One', cursive;
    color: rgb(228,95,28);
}

.nav{
    width: 100%;
    height: 100%;
    margin: 30px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
}

.nav{
    margin-right: 20px;
}

#botonCarrito{
    border: none;
    background-color: rgb(0, 0, 0);
}

.icon-carrito{
    width: 30px;
    
    color: rgb(236, 238, 111);
    
}

#contadorCarrito{
    position: absolute;
    width: 15px;
    height: 18px;
    color: rgb(236, 238, 111);
    background: rgb(14, 108, 250);
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: center;
}

.modal-header{
    display: flex;
    flex-direction: column;
}

.prodEnCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    width: auto;
}

.eliminar{
    border: none;
    background-color: #fff;
    margin-left: 20px;
}


.indexMain{
    width: 100%;
    background-image: url(../multimedia/fondo-estrellado.jpg);
    background-position: center;
    background-size: contain;
}


.div-form{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../multimedia/univers-fondo.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.h2-form{
    color: rgb(252, 232, 55);
    text-shadow: 2px 2px 5px rgb(228,95,28);
    margin: 30px;
    font-family: 'RocknRoll One', sans-serif;
}

.form{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.form-datos{
    border-radius: 5px;
    border: none;
    width: 25%;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
}

#boton-enviar{
    padding: 5px;
    border-radius: 5px;
    border: none;
    color: #08eaf4;
    box-shadow: 1px 1px 10px #08eaf4;
    font-family: 'RocknRoll One', sans-serif;
    background: linear-gradient(90deg, rgba(186,74,226,1) 16%, rgba(200,18,184,1) 50%, rgba(228,28,139,1) 84%);
}

#boton-enviar:hover{
    color: #05b7c0;
    background: linear-gradient(90deg, rgb(144, 58, 175) 16%, rgb(151, 14, 140) 50%, rgb(153, 19, 93) 84%); 
}

.titulo-productos{
    color: rgb(252, 232, 55);
    margin-top: 30px;
    padding-left: 5%;
    font-family: 'Shojumaru', cursive;
}

.info{
    margin-top: 35%;
    margin-right: 30%;
}

#articulos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 0;
}

.titulos-categorias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.img-categorias{    
    height: 250px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    animation-name: brillo;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}
@keyframes brillo {
	from{
		box-shadow: 0 0 5px white;
	} 
	to {
		box-shadow: 0 0 30px white;
	}		
}

.btn-categorias{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-mostrar{
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    border: none;
    box-shadow: 0 0 5px white;
    background: linear-gradient(90deg, rgba(228,95,28,1) 16%, rgba(233,190,43,1) 50%, rgba(228,95,28,1) 84%);
    font-family: 'Racing Sans One', cursive
}
.btn-mostrar:hover{
    color:#c81212;
    background: radial-gradient(circle, rgba(228,95,28,1) 16%, rgba(233,190,43,1) 50%, rgba(228,95,28,1) 84%);
}

.btn-limpiar{
    border-radius: 5px;
    height: 2rem;
    width: 6rem;
    border: none;
    box-shadow: 0 0 5px white;
    background: linear-gradient(90deg, rgba(228,95,28,1) 16%, rgba(233,190,43,1) 50%, rgba(228,95,28,1) 84%);
    font-family: 'Racing Sans One', cursive
}
.btn-limpiar:hover{
    color:#c81212;
    background: radial-gradient(circle, rgba(228,95,28,1) 16%, rgba(233,190,43,1) 50%, rgba(228,95,28,1) 84%);
}

.card-container{	
	
    margin: 20px;
    padding: 10px;
    text-align: center;
	width: 250px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: default;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background: #fff;
    border-radius: 5px;

}

.card-title{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
}

.card-img-top{
    max-width: 230px;
    max-height: 230px;
    object-fit: contain;
    margin: 10px 0;
    
}
.card-img-top:hover{
    scale: 2;
}

.card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.card-text{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 10px;
}

.card-precio{
    font-size: 1.2rem;
    margin: 0;
}

.card-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.div-personajes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.h3-personajes{
    margin: 20px;
    color: rgb(236, 238, 111);    
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

.p-personajes{
    margin: 20px;
    width: 90vh;
    color: rgb(236, 238, 111);
    font-family: 'Noto Serif', serif;
}

.buscador{
    margin: 30px 20px;
}

.label-buscador{
    color: rgb(236, 238, 111);
    margin-right: 10px;
    font-family: 'Noto Serif', serif;
}

#botonName{
    margin: 0 20px;
    color: rgb(236, 238, 111);
    font-family: 'Noto Serif', serif;
}

#btn-todos{
    color: rgb(236, 238, 111);
    font-family: 'Noto Serif', serif;
}

#borrarApi{
    margin-left: 20px;
    color: rgb(236, 238, 111);
    font-family: 'Noto Serif', serif;
}

.card-personajes{
    width: 250px;
    height: 450px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.815);
    border-radius: 10px;
    border:1px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.897);
}

.img-div{
    width: 230px;
    height: 250px;
}

.img-card{
    width: 230px;
    height: 250px;
    object-fit: contain;
}

.footer{
    width: 100%;
    height: auto;
    background-color: black;
    background-image: url(/multimedia/gamer-4k.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: flex-start;
    position: static;
}

.ul-footer li{
    color: #fff;
}
